@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(..mtb-wise-dark, .mtb-wise-dark *));

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

.p-fieldset-legend {
  @apply text-xs text-orange-600;
}

.mtb-wise-dark .p-fieldset-legend {
  @apply text-xs text-orange-600;
}

.p-menubar-root-list {
  @apply w-full grow justify-center;
}

.p-dataview-empty-message {
  @apply px-6 mt-8;
}
